.box1{
    font-family: 'PT Sans Narrow', sans-serif;
	width: 100%;
	height: auto;
	text-align: center;
	background: powderblue;
	font-size: 4em;
	padding: 1em;
}

.box2{
    font-family: 'PT Sans Narrow', sans-serif;
	width: 100%;
	height: auto;
	text-align: Center;
	background: skyblue;
	font-size: 2em;
	padding: 12px;	
	margin: 12px;

}

.box3{
    font-family: 'PT Sans Narrow', sans-serif;
	width: 50%;
	height: auto;
	text-align: center;
	background: steelblue;
	font-size: 2em;
	padding: 12px;	

	border: 

}

.box4{
    font-family: 'PT Sans Narrow', sans-serif;
	min-width: 50%;
	max-width: 50%;
	height: auto;
	text-align: center;
	background-color: rgba(100,149,237,0.4);
	font-size: 2em;
    border-left: 6px solid red;
    border-right: 6px solid red;
}

.list{
	list-style-type: none;
	text-align: left;
	margin-right: 1em;
	
}